.site-layout-content {
    min-height: 280px;
    padding: 24px;
}

#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.cart {
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.header {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo {
    width: 200px; 
    background: rgba(255, 255, 255, 0.3);
}

.language{
    margin-right: 20px;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.search-bar {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    min-width: 500px;
    max-width: 850px;
    width: 850px;
}